:root {
  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --hue: 152;
  --first-color: hsl(var(--hue), 24%, 32%);
  --first-color-alt: hsl(var(--hue), 24%, 28%);
  --first-color-light: hsl(var(--hue), 24%, 66%);
  --first-color-lighten: hsl(var(--hue), 24%, 92%);
  --title-color: hsl(var(--hue), 4%, 15%);
  --text-color: hsl(var(--hue), 4%, 35%);
  --text-color-light: hsl(var(--hue), 4%, 55%);
  --body-color: hsl(var(--hue), 0%, 100%);
  --container-color: #fff;
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: var(--body-color);
  color: var(--text-color);
}

h1,
h2,
h3 {
  color: var(--title-color);
  font-weight: 700;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.section {
  padding: 5.5rem 0 1rem;
}

.section__title,
.section__title-center {
  font-size: 1.25rem;
  margin-bottom: 2rem;
  line-height: 140%;
}

.section__title-center {
  text-align: center;
}

.container1 {
  max-width: 968px;
  margin-left: var(--mb-1-5);
  margin-right: var(--mb-1-5);
}

.container {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 5px;
}

.grid {
  display: grid;
}

.main {
  overflow: hidden; /*For animation*/
}

/*=============== HOME ===============*/
.home {
  margin-top: 6rem;
  padding: 5rem 0rem 2.5rem;
}

.home__data {
  padding-left: 2rem;
}

.home__container {
  position: relative;
  row-gap: 2rem;
  margin-right: 2rem;
}

.home__img {
  width: 100%;
  height: 100%;
  justify-self: center;
}

.home__title {
  font-size: 3rem;
  line-height: 140%;
  margin-bottom: 1rem;
}

.home__description {
  margin-bottom: 2.5rem;
}

.home__social {
  margin-top: 4rem;
  position: absolute;
  top: 2rem;
  right: -1rem;
  display: grid;
  justify-items: center;
  row-gap: 3.5rem;
}

.home__social-follow {
  font-weight: 500;
  font-size: 1rem;
  color: var(--first-color);
  position: relative;
  transform: rotate(90deg);
}

.home__social-follow::after {
  content: '';
  position: absolute;
  width: 1rem;
  height: 2px;
  background-color: var(--first-color);
  right: -45%;
  top: 50%;
}

.home__social-links {
  display: inline-flex;
  flex-direction: column;
  row-gap: 0.25rem;
}

.home__social-link {
  font-size: 1rem;
  color: var(--first-color);
  transition: 0.3s;
  text-decoration: none;
}

.home__social-link:hover {
  transform: translateX(0.25rem);
}

/*=============== BUTTONS ===============*/
.button {
  display: inline-block;
  background-color: var(--first-color);
  color: #fff;
  padding: 1rem 1.75rem;
  border-radius: 0.5rem;
  font-weight: 500;
  transition: 0.3s;
}

.button:hover {
  background-color: var(--first-color-alt);
}

.button__icon {
  transition: 0.3s;
}

.button:hover .button__icon {
  transform: translateX(0.25rem);
}

.button--flex {
  display: inline-flex;
  align-items: center;
  column-gap: 0.5rem;
  text-decoration: none;
}

.button--link {
  color: var(--first-color);
  font-weight: 500;
}

.button--link:hover .button__icon {
  transform: translateX(0.25rem);
}

/*=============== ABOUT ===============*/
.about__container {
  row-gap: 2rem;
}

.about__data {
  margin: auto;
  padding: auto;
}

.about__img {
  width: 300px;
  height: 300px;
  justify-self: center;
  margin-top: 2.2rem;
  padding-left: 1.5rem;
}

.about__title {
  margin-bottom: 1rem;
  font-size: 2.5rem;
}

.about__description {
  margin-bottom: 2rem;
}

.about__details {
  align-items: center;
  display: grid;
  row-gap: 0.5rem;
  margin-bottom: 2.5rem;
  font-weight: 500;
}

.about__details-description {
  display: inline-flex;
  column-gap: 0.5rem;
  font-size: 0.813rem;
}

.about__details-icon {
  font-size: 1rem;
  color: var(--first-color);
  margin-top: 0.15rem;
}

/*=============== PRODUCTS ===============*/
.product {
  /* padding-left: 2rem; */
  margin-left: 20rem;
  align-items: center;
}

.prod {
  font-size: 2.5rem;
}

.product__description {
  padding-left: 2rem;
}

.gallery {
  --s: 200px; /* control the size */
  --g: 10px; /* control the gap */
  display: grid;
  margin: calc(var(--s) + var(--g));
  margin-left: 25rem;
  background-size: contain;
}

.gallery > img {
  grid-area: 1/1;
  width: var(--s);
  aspect-ratio: 1.15;
  object-fit: cover;
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0 50%);
  transform: translate(var(--_x, 0), var(--_y, 0)) scale(var(--_t, 1));
  cursor: pointer;
  filter: grayscale(80%);
  transition: 0.2s linear;
}
.gallery > img:hover {
  filter: grayscale(0);
  z-index: 1;
  --_t: 1.2;
}

.gallery > img:nth-child(1) {
  --_y: calc(-100% - var(--g));
}
.gallery > img:nth-child(7) {
  --_y: calc(100% + var(--g));
}
.gallery > img:nth-child(3),
.gallery > img:nth-child(5) {
  --_x: calc(-75% - 0.87 * var(--g));
}
.gallery > img:nth-child(4),
.gallery > img:nth-child(6) {
  --_x: calc(75% + 0.87 * var(--g));
}
.gallery > img:nth-child(3),
.gallery > img:nth-child(4) {
  --_y: calc(-50% - 0.5 * var(--g));
}
.gallery > img:nth-child(5),
.gallery > img:nth-child(6) {
  --_y: calc(50% + 0.5 * var(--g));
}

/*=============== FOOTER ===============*/
.footer__container {
  row-gap: 3rem;
}

.footer__logo {
  display: inline-flex;
  align-items: center;
  column-gap: 0.5rem;
  color: var(--title-color);
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: -1px;
  margin-bottom: var(--mb-2-5);
  transition: 0.3s;
}

.footer__logo-icon {
  font-size: 1.15rem;
  color: var(--first-color);
}

.footer__logo:hover {
  color: var(--first-color);
}

.footer__title {
  font-size: var(--h3-font-size);
  margin-bottom: var(--mb-1-5);
}

.footer__subscribe {
  background-color: var(--first-color-lighten);
  padding: 0.75rem;
  display: flex;
  justify-content: space-between;
  border-radius: 0.5rem;
}

.footer__input {
  width: 70%;
  padding: 0 0.5rem;
  background: none;
  color: var(--text-color);
  border: none;
  outline: none;
}

.footer__button {
  padding: 1rem;
}

.footer__data {
  display: grid;
  row-gap: 0.75rem;
}

.footer__information {
  font-size: var(--small-font-size);
}

.footer__social {
  display: inline-flex;
  column-gap: 0.75rem;
}

.footer__social-link {
  font-size: 1rem;
  color: var(--text-color);
  transition: 0.3s;
}

.footer__social-link:hover {
  transform: translateY(-0.25rem);
}

.footer__cards {
  display: inline-flex;
  align-items: center;
  column-gap: 0.5rem;
}
.footer__card {
  width: 35px;
}

.footer__copy {
  text-align: center;
  font-size: var(--smaller-font-size);
  color: var(--text-color-light);
  margin: 5rem 0 1rem;
}
